
.venv/
venv/
env/
**/.venv/
**/venv/
**/env/

__pycache__/
**/__pycache__/
*.pyc
*.pyo


*.pt


received_images/*
!received_images/.gitkeep

server/received_images/*
!server/received_images/.gitkeep

server/test_images/


server.zip